<dx-data-grid id="gridContainer"
              [dataSource]="faqs"
              [remoteOperations]="true"
              [wordWrapEnabled]="true"
              [columnAutoWidth]="true"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              (onCellDblClick)="onCellDblClick($event)"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              (onSelectionChanged)="onSelectionChanged($event)"
              columnResizingMode="widget"
              (onToolbarPreparing)="onToolbarPreparing($event)"
              [hoverStateEnabled]="true"
              [showBorders]="true">
  <dxo-column-chooser
    [enabled]="true"
    mode="select">
  </dxo-column-chooser>

  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    title="Выбрать колонки"
    [width]="240"
    placeholder="Поиск..."></dxo-search-panel>

  <dxo-selection mode="single"></dxo-selection>

  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  <dxo-state-storing [enabled]="true"
                     type="localStorage"
                     storageKey="faqsDataGrid">
  </dxo-state-storing>

  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" ></dxo-scrolling>
  <dxo-paging [pageSize]="100"></dxo-paging>

  <dxi-column [width]="50" caption="" cellTemplate="buttonEditTemplate"></dxi-column>

  <dxi-column dataField="id" [width]="50" [fixed]="false" caption="№ п/п"></dxi-column>

  <dxi-column dataField="title" caption="Вопрос"></dxi-column>

  <div *dxTemplate="let data of 'dateTemplate'">
    {{data.data.date | date:'dd.MM.yyyy'}}
  </div>

  <div *dxTemplate="let data of 'titleTemplate'">
    <h3>Часто задаваемые вопросы</h3>
  </div>

  <div *dxTemplate="let data of 'buttonEditTemplate'">
    <dx-button class="otstup" [hint]="'Редактировать'" icon="edit" (click)="edit(data.data)"></dx-button>
  </div>

  <div *dxTemplate="let data of 'actionAddTemplate'">
    <dx-button text="Добавить"
               (onClick)="add()"
               icon="add"></dx-button>
  </div>

  <div *dxTemplate="let data of 'detail'">
    <app-faq-show [faq]="data.data"></app-faq-show>
  </div>

</dx-data-grid>

<router-outlet class="router-card"
></router-outlet>


