<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/logo-rmbg.png" width="30" height="30" class="d-inline-block align-top" alt="">
    АИС &laquo;Реестр ЭПБ&raquo;
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/equipments']">Оборудование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/incidents']">
          Инциденты
          <span *ngIf="incidentCount" class="dx-badge">{{ incidentCount }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notifications']">
          Уведомления
          <span *ngIf="notificationCount" class="dx-badge">{{ notificationCount }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/correctiveActions']">Корректирующие мероприятия</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Сертификаты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" [routerLink]="['/certificates']">Сертификаты</a>
          <a class="nav-link" [routerLink]="['/certificateAgents']">Организации</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/responsibilityCenters']">Центры ответственности</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/divisions']">Подразделения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Пользователи</a>
      </li>
      <li *ngIf="isSuperAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="['/faqs']">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">
          Настройки
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help']">
          <i class="fas fa-question-circle"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <kendo-avatar *ngIf="currentUser.thumbnailPhoto" class="otstup" [shape]="'circle'" size="medium" [imageSrc]="'data:image/png;base64,' + currentUser.thumbnailPhoto"></kendo-avatar>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser.displayName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="file://cdn01-pifs---01.dmn.tn.corp/Resources_01$/2418/АИС Реестр ЭПБ">Журнал замечаний и предложений</a>
          <a class="nav-link" href="file://cdn01-pifs---01.dmn.tn.corp\Resources_01$\2402\Инструкции АИС Реестр ЭПБ">Инструкции АИС Реестр ЭПБ</a>
        </div>
      </li>
    </ul>

    <!--
    <form class="form-inline my-2 my-lg-0">
      <kendo-avatar *ngIf="currentUser.thumbnailPhoto" class="otstup" [shape]="'circle'" size="medium" [imageSrc]="'data:image/png;base64,' + currentUser.thumbnailPhoto"></kendo-avatar>
      {{currentUser.displayName}}
    </form>
    -->
  </div>
</nav>
