<ng-container *ngIf="isLoaded">
  <as-split *ngIf="equipment;else empty" direction="horizontal" unit="pixel">
    <as-split-area class="panel-container" [size]="260">
      <dx-scroll-view>
        <div class="panel-container-context">
          <app-equipments-card-sidebar [equipment]="equipment">

          </app-equipments-card-sidebar>
        </div>
      </dx-scroll-view>
    </as-split-area>
    <as-split-area>

      <dx-scroll-view>
        <app-equipments-card [equipment]="equipment">

        </app-equipments-card>
      </dx-scroll-view>

    </as-split-area>
  </as-split>

  <ng-template #empty>
    <h1>{{ titleAccessDenied }}</h1>
  </ng-template>
</ng-container>
