dx-data-grid > div > .dx-datagrid-headers > .dx-datagrid-content > table > tbody > tr > td {
  background-color: #f8f9fa !important;
}

.dx-datagrid .dx-data-row > td {
  background-color: #f9f9f9
}
.dx-datagrid .dx-row-alt > td {
  background-color: white;

}
