<div class="container">
  <dx-form id="form" [formData]="settings">

    <h5>Настройки</h5>

    <dxi-item dataField="importStartLine" editorType="dxNumberBox">
      <dxo-label text="Номер строки, с которой начинается импорт реестре ЭПБ из Excel файла"></dxo-label>
    </dxi-item>

    <dxi-item dataField="equipmentWearThresholdExceededJobWarningPercent" editorType="dxNumberBox">
      <dxo-label text="Процент износа оборудования для предупреждения"></dxo-label>
    </dxi-item>

    <dxi-item dataField="equipmentWearThresholdExceededJobCriticalPercent" editorType="dxNumberBox">
      <dxo-label text="Процент износа оборудования для критической ситуации"></dxo-label>
    </dxi-item>

  </dx-form>

  <div class="k-form-buttons">
    <button class="k-button k-primary" (click)="submitForm()">Сохранить</button>
  </div>
</div>
