<dx-data-grid id="gridContainer"
              [dataSource]="attachments"
              [remoteOperations]="true"
              [wordWrapEnabled]="true"
              [columnAutoWidth]="true"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              (onCellDblClick)="onCellDblClick($event)"
              columnResizingMode="widget"
              (onToolbarPreparing)="onToolbarPreparing($event)"
              [hoverStateEnabled]="true"
              [showBorders]="true">
  <dxo-column-chooser
    [enabled]="true"
    mode="select">
  </dxo-column-chooser>

  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    title="Выбрать колонки"
    [width]="240"
    placeholder="Поиск..."></dxo-search-panel>

  <dxo-selection mode="single"></dxo-selection>

  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  <dxo-state-storing [enabled]="true"
                     type="localStorage"
                     storageKey="attachmentFilesDataGrid">
  </dxo-state-storing>

  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" ></dxo-scrolling>
  <dxo-paging [pageSize]="100"></dxo-paging>

  <dxi-column width="50" cellTemplate="downloadButtonTemplate"></dxi-column>
  <dxi-column width="70" dataFiles="fileType" [fixed]="false" caption="Тип файла" cellTemplate="fileTypeTemplate"></dxi-column>
  <dxi-column dataField="title" width="150" [fixed]="false" caption="Наименование файла"></dxi-column>
  <dxi-column dataField="size" [fixed]="false" caption="Размер файла" cellTemplate="fileSizeTemplate"></dxi-column>
  <dxi-column dataField="lastModified" [fixed]="false" caption="Дата изменения" cellTemplate="lastModifiedTemplate"></dxi-column>
  <dxi-column width="50" cellTemplate="deleteButtonTemplate"></dxi-column>


  <div *dxTemplate="let data of 'titleTemplate'">
    <h2>Вложенные файлы</h2>
  </div>

  <div *dxTemplate="let file of 'fileTypeTemplate'">
    <img [src]="file.data.title | fileExtensionIcon">
  </div>

  <div *dxTemplate="let file of 'fileSizeTemplate'">
    {{ file.data.size | fileSize }}
  </div>

  <div *dxTemplate="let file of 'lastModifiedTemplate'">
    {{ file.data.lastModified | date:'dd.MM.yyyy HH:mm:ss' }}
  </div>

  <div *dxTemplate="let file of 'downloadButtonTemplate'">
    <dx-button class="otstup" icon="download"
               (click)="download(file.data)"></dx-button>
  </div>

  <div *dxTemplate="let file of 'deleteButtonTemplate'">
    <dx-button class="otstup" icon="trash"
               type="danger"  (click)="delete(file.data)"></dx-button>
  </div>

</dx-data-grid>
