:host {
  height: 100%;
  display: block;
  padding-bottom: 57px;
}



dx-tree-list {
  ::ng-deep {
    .clicked-column {
      cursor: pointer;
    }
  }
}

#treeContainer {
  height: 100%;
}

::ng-deep {
  .dx-treelist-header-panel {
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
