
<dx-data-grid *ngIf="equipment" id="gridContainer"
              [dataSource]="equipments"
              [wordWrapEnabled]="true"
              [columnAutoWidth]="true"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              [rowAlternationEnabled]="true"
              [masterDetail]="{ enabled: false, template: 'detail' }"
              columnResizingMode="widget"
              (onToolbarPreparing)="onToolbarPreparing($event)"
              (onRowPrepared)="onRowPrepared($event)"
              [hoverStateEnabled]="true"
              [showBorders]="true">


  <dxo-column-chooser
    [enabled]="true"
    mode="select">
  </dxo-column-chooser>

  <dxo-selection mode="single"></dxo-selection>

  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

  <dxo-state-storing [enabled]="true"
                     type="localStorage"
                     storageKey="equipmentsHistoryDataGrid">
  </dxo-state-storing>


  <!--
  <dxo-scrolling mode="virtual" rowRenderingMode="virtual" ></dxo-scrolling>
-->
  <dxo-export [enabled]="true"></dxo-export>


  <dxo-paging [pageSize]="20"></dxo-paging>

  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20]"
    [showInfo]="true">
  </dxo-pager>

  <dxi-column dataField="updatedBy.title" [fixed]="false" caption="Автор изменения"></dxi-column>
  <dxi-column dataField="updatedAt" [fixed]="false" caption="Дата изменения" cellTemplate="changedDateTemplate"></dxi-column>
  <dxi-column dataField="code" [fixed]="false" caption="№ п/п"></dxi-column>
  <dxi-column dataField="registerNumber" [fixed]="false" caption="Регистрационный № ОПО"></dxi-column>
  <dxi-column dataField="location" [fixed]="false" caption="Расположение"></dxi-column>
  <dxi-column dataField="division.title" [fixed]="false" caption="Подразделение"></dxi-column>
  <dxi-column dataField="title" [fixed]="false" caption="Наименование оборудования" cellTemplate="equipmentTitleTemplate"></dxi-column>
  <dxi-column dataField="shortCharacteristics" [fixed]="false" caption="Краткие характеристики"></dxi-column>
  <dxi-column dataField="techNumber" [fixed]="false" caption="Техн. №"></dxi-column>
  <dxi-column dataField="serialNumber" [fixed]="false" caption="Зав. №"></dxi-column>
  <dxi-column dataField="releaseYear" [fixed]="false" caption="Год выпуска"></dxi-column>
  <dxi-column dataField="commissioningYear" [fixed]="false" caption="Год ввода в эксплуатацию"></dxi-column>
  <dxi-column dataField="repairDate" [fixed]="false" caption="Дата проведения СР" cellTemplate="tryDateTemplate"></dxi-column>
  <dxi-column dataField="overhaulDate" [fixed]="false" caption="Дата проведения КР" cellTemplate="tryDateTemplate"></dxi-column>
  <dxi-column dataField="exploitationPeriod" [fixed]="false" caption="Срок эксплуатации"></dxi-column>
  <dxi-column dataField="exploitationPeriodUnit" [fixed]="false" caption="Ед.изм." cellTemplate="exploitationPeriodUnitTemplate"></dxi-column>
  <dxi-column dataField="examination.examinationNumber" [fixed]="false" caption="№ закл. ЭПБ"></dxi-column>
  <dxi-column dataField="examination.registerNumber" [fixed]="false" caption="Регистрационный номер ЭПБ"></dxi-column>
  <dxi-column dataField="certificate.title" caption="Номер сертификата"></dxi-column>
  <dxi-column dataField="certificate" caption="Дата сертификата" cellTemplate="dateCertificateTemplate"></dxi-column>
  <dxi-column dataField="responsibilityCenter.title" [fixed]="false" caption="Центр ответсвенности"></dxi-column>

  <div *dxTemplate="let equipment of 'correctiveActionsTemplate'">
    <app-corrective-action-cell [equipment]="equipment.value">

    </app-corrective-action-cell>
  </div>

  <div *dxTemplate="let equipment of 'wearPercentageTemplate'">
    <div [ngClass]="{'warning': equipment.data.isWarning, 'critical': equipment.data.isCritical}">{{equipment.value}}%</div>
  </div>

  <div *dxTemplate="let equipment of 'equipmentTitleTemplate'">
    <div [ngClass]="{'warning': equipment.data.isWarning, 'critical': equipment.data.isCritical}">{{equipment.value}}</div>
  </div>

  <div *dxTemplate="let data of 'tryDateTemplate'">
    <ng-container *ngIf="data.value">{{data.value | date: 'dd.MM.yyyy'}}</ng-container>
  </div>

  <div *dxTemplate="let data of 'exploitationPeriodUnitTemplate'">
    {{ data.value | exploitationPeriodUnit }}
  </div>

  <div *dxTemplate="let data of 'dateCertificateTemplate'">
    <ng-container *ngIf="data.value">
      {{data.value.date | date: 'dd.MM.yyyy'}}
    </ng-container>
  </div>

  <div *dxTemplate="let data of 'changedDateTemplate'">
    {{data.value | date: 'dd.MM.yyyy hh:mm'}}
  </div>

  <div *dxTemplate="let data of 'titleTemplate'">
    <h3>История изменения оборудования {{ equipment.title }}</h3>
  </div>

  <div *dxTemplate="let data of 'actionCardTemplate'">
    <dx-button text="Карточка"
               (onClick)="showCard()"
               icon="file"></dx-button>
  </div>

  <div *dxTemplate="let data of 'detail'">
    <p>wde</p>
  </div>

  <dxo-summary>
    <dxi-total-item
      column="equipment.code"
      summaryType="count">
    </dxi-total-item>
  </dxo-summary>

</dx-data-grid>

